<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <th:block th:replace="/fragments/header::headerFragment"> </th:block>
</head>
<body>
<div th:replace="/fragments/nav::navFragment"></div>
<div>
    <table class ="table table-striped">
        <thead>
        <tr>
            <th>글 번호</th>
            <th>제목</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${boards}">
            <td>[[${board.bid}]]</td>
            <td>
                <a th:href="@{/board/read(bid=${board.bid})}">
                    [[${board.title}]]
                </a>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>