<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <th:block th:replace="/fragments/header::headerFragment"> </th:block>
</head>
<body>
<div th:replace="/fragments/nav::navFragment"></div>
<form th:action="@{/board(bid=${board.bid})}" th:method="put">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" th:value="${board.title}">
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea class="form-control" type="text" id="content" name="content" rows="3">[[${board.content}]]</textarea>
    </div>
    <input type="hidden" name="_method" value="put"/>
    <button class="btn btn-primary" id="upd" type="submit">수정</button>
</form>
</body>
</html>